*{
	padding: 0;
	margin: 0;
	font-family: 'Gayathri', sans-serif;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #b11717;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background:  #b11717;
  font-weight: bolder;
}

.home{
	background: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1{
	font-size: 70px;
}

.btn{
	background-color: #b11717;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	font-weight: bold;
}

.btn:hover{
	background-color: white;
	color: #b11717;
	font-weight: bolder;
}

.aboutus{
	background: url(../images/bg2.jpeg);
	height: 100vh;
	display: flex;
	background-position: center;
	background-size: cover;
}

.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: bolder;
}

.aboutus > .left > div > h2{
	font-size: 30px;
}

.aboutus > .left > div > p{
	font-size: 20px;
}

.aboutus > .left > div > img{
	height: 200px;
	width: 250px;
	border-radius: 5%;
}

.right{
	height: 90vh;
	width: 50vw;
	display: flex;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: bold;

}

.aboutus > .right > div > img{
	height: 150px;
	width: 200px;
	border-radius: 5%;
}

.aboutus > .right > div > p{
	font-size: 20px;
}

.aboutme{
	background: url(../images/bg3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.aboutme > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.aboutme > div >p{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.gallery{
	background: url(../images/bg4.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.gallery > div > h2{
	color: white;
	font-size: 50px;
	padding: 60px;
}

.gallery > div > img{
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.gallery > div > img:hover{
	transform: scale(1.5 ,1.5);
	transition: 2s;
}

.contact{
	background: url(../images/bg5.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contactleft{
	height: 100vh;
	width: 50vw;
	display: flex;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: bolder;
}

.contactleft > form{
	height: 60vh;
	width: 100vw;
	text-align: center;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 5px;
}

input {
	display: block;
	border:1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 5px;
}

textarea{
	display: block;
	border:1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 5px;
}

.contactright{
	height: 90vh;
	width: 50vw;
	display: flex;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	font-weight: bold;

}